<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<div class="container">
		<table>
			<thead>
				<tr>
					<th>Mo</th>
					<th>Tu</th>
					<th>We</th>
					<th>Th</th>
					<th>Fr</th>
					<th>Sa</th>
					<th>Su</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<div id="oneday_stat_chart" style="width: 500px;height:400px;"></div>
	</div>
</body>
<script src="/static/echarts.min.js"></script>
<script src="/static/jquery-3.4.1.min.js"></script>
<script src="/static/myapp.js"></script>
</html>