<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Leetcode Board</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<div class="container">
		<table>
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<div id="oneday_stat_chart" style="width: 640px;height:400px;"></div>
	</div>
</body>
<script src="/static/echarts.min.js"></script>
<script src="/static/jquery-3.4.1.min.js"></script>
<script src="/static/myapp.js"></script>
</html>